[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/usr/lib/firefox-esr/firefox-esr %u
Name=Firefox
Comment=Benutzerdefinition für Firefox
