[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=WikiMUC-Passwort ändern
Comment=Change you Wikimuc-password
Comment[de]=Änderne dein WikiMuc-Passwort
Exec=changepassword
Icon=config-users
Terminal=true
Categories=Settings;AccountSettings;
