# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
{% if ansible_eth0 is defined %}
{% if ansible_eth0.active %}
auto eth0
allow-hotplug eth0
iface eth0 inet static
        address {{ static_host_ip }}
        netmask 255.255.255.0
        network 192.168.24.0
        gateway 192.168.24.1
        broadcast 192.168.24.255
        dns-nameservers 192.168.24.2 192.168.24.1 8.8.8.8
        dns-search net.wikimuc.org
iface eth0 inet6 auto
{% endif %}
{% endif %}
{% if ansible_eth1 is defined %}
{% if ansible_eth1.active %}
auto eth1
allow-hotplug eth1
iface eth1 inet static
        address {{ static_host_ip }}
        netmask 255.255.255.0
        network 192.168.24.0
        gateway 192.168.24.1
        broadcast 192.168.24.255
        dns-nameservers 192.168.24.2 192.168.24.1 8.8.8.8
        dns-search net.wikimuc.org
iface eth1 inet6 auto
{% endif %}
{% endif %}
{% if ansible_eth2 is defined %}
{% if ansible_eth2.active %}
auto eth2
allow-hotplug eth2
iface eth2 inet static
        address {{ static_host_ip }}
        netmask 255.255.255.0
        network 192.168.24.0
        gateway 192.168.24.1
        broadcast 192.168.24.255
        dns-nameservers 192.168.24.2 192.168.24.1 8.8.8.8
        dns-search net.wikimuc.org
iface eth2 inet6 auto
{% endif %}
{% endif %}
