[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Vicuna
Comment=Bulk-uploader to Wikimedia Commons
Comment[de]=Massenuploader für Wikimedia Commons
Exec=java -jar /opt/java/vicuna.jar
Icon=vicuna
Terminal=false
Categories=Network;Wikipedia;
